.aside {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  color: white;
  background-color: #141e46;
  font-size: 4rem;

  * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first_section {
    height: 7rem;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
  }
  .principal_section {
    height: 7rem;
    border-bottom: 2px solid grey;
  }
  .footer_section {
    height: 7rem;
    border-bottom: 2px solid grey;
  }
}
