.aside {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-weight: 700;

  .first_section {
    background-color: red;
    flex: 1;
  }
  .principal_section {
    background-color: green;
    flex: 3;
  }
  .footer_section {
    background-color: blue;
    flex: 1;
  }
}
