.aside {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-weight: 700;
  background-color: #0E46A3;

  *{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first_section {
    flex: 1;
  }
  .principal_section {
    flex: 3;
  }
  .footer_section {
    flex: 1;
  }
}
